
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Custom SCSS
.divider-left {
	border-left: 1px solid $text-color;
}
.divider-right {
	border-right: 1px solid $text-color;
}

.maze__display {
	line-height: 1;
	font-family: monospace;
}